<span class="lotrrpTidyInput">
<input type="text" name="flags.lotrrp.details.livingStandard" value="{{flags.lotrrp.details.livingStandard}}" placeholder="{{ localize 'LOTRRP.LivingStandard' }}"/>
</span>
